.vscode/*
.idea/*
build/*
experiment_results/*
tests
experiments
experiments_bin_search_btree
experiments_get
experiments_put
experiments_scan
testdb
exp_db_bin_*
exp_db_btree_*
exp_put_*
exp_get_*
exp_scan_*